@{
    var notes = TempData.ContainsKey(GenixMessageDefaults.NotificationKey) ?
    JsonConvert.DeserializeObject<IList<NotifyData>>(TempData[GenixMessageDefaults.NotificationKey].ToString()) :
    null;

    if (notes != null)
    {
        foreach (var note in notes)
        {
            var cssStyle = "";
            switch (note.NotifyType)
            {
                case NotifyType.Success:
                    cssStyle = "alert-success";
                    break;
                case NotifyType.Error:
                    cssStyle = "alert-danger";
                    break;
                case NotifyType.Warning:
                    cssStyle = "alert-warning";
                    break;
            }
            <div class="alert @cssStyle alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                @if (note.Encode)
                {
                    <text>
                        @note.Message
                    </text>
                }
                else
                {
                    <text>
                        @Html.Raw(note.Message);
                    </text>

                }
            </div>
        }
    }
}