
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Genix</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle nav-link text-dark" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" asp-area="" asp-controller=""
                       asp-action="">
                        Browse
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item"><a class="text-dark" asp-area="" asp-controller="" asp-action="">Toys</a></li>
                        <li role="separator" class="dropdown-divider"></li>
                        <li class="dropdown-item"><a class="text-dark" asp-area="" asp-controller="" asp-action="">Games</a></li>
                        <li role="separator" class="dropdown-divider"></li>
                        <li class="dropdown-item"><a class="text-dark" asp-area="" asp-controller="" asp-action="">Apparel</a></li>
                        <li role="separator" class="dropdown-divider"></li>
                        <li class="dropdown-item"><a class="text-dark" asp-area="" asp-controller="" asp-action="">Shoes</a> </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="SignIn" asp-action="SignIn"><span class="fa fa-user" aria-hidden="true"></span> Sign In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Register" asp-action="Register"><span class="fa fa-sign-in-alt" aria-hidden="true"></span> Register</a>
                </li>
            </ul>
        </div>
    </div>
</nav>