@model LoginModel

<div class="login-form">
    <form asp-route="SighnIn" method="post">
        <div asp-validation-summary="ModelOnly" class="alert"></div>
        <h2 class="text-center">Log in</h2>
        <div class="form-group">
            <input type="text" asp-for="Email" class="form-control" placeholder="Email/UserName" required="required">
        </div>

        <div class="form-group">
            <input type="password" asp-for="Password" class="form-control" placeholder="Password" required="required">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Log in</button>
        </div>
        <div class="clearfix">
            <label class="pull-left checkbox-inline"><input asp-for="RememberMe" type="checkbox"> Remember me</label>
            <a asp-action="" asp-controller="" class="pull-right">Forgot Password?</a>
        </div>
    <p class="text-center"><a asp-action="Register" asp-controller="Register">Create an Account</a></p>
    </form>
</div>
